// Base colors
$brand-color1: #E03C31; // red
$brand-color2: #E1AD21; // light mustard yellow

$gray-darkest:   #333;
$gray-darker:    #444;
$gray-dark:      #666;
$gray:           #888;
$gray-light:     #aaa;
$gray-lighter:   #ccc;
$gray-lightest:  #ddd;
