// Breakpoints
$screen-xs: max-width 480px;
$screen-sm: max-width 768px;
$screen-md: max-width 992px;
$screen-lg: max-width 1200px;

// Config
$susy: (
  columns: 12,
  gutters: .25,
  math: fluid,
  output: float,
  gutter-position: inside,
);
